[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "foreSIGHT"]
	path = foreSIGHT
	url = https://github.com/climateanalytics/foresight
